<h1> Home </h1>

Id: <%= @user.id%>

Compiti associati: 

<ul>
  <% @user.assignments.each do |assignment| %>
    <% if not assignment.completed? %>
        <li>
            <%= assignment.title %> <%= button_to "Info", assignment_path(@user), method: :get%>
        </li>
    <% end %>
  <% end %>
</ul>

Compiti completati: 

<ul>
  <% @user.assignments.each do |assignment| %>
    <% if assignment.completed? %>
        <li>
            <%= assignment.title %> <%= button_to "Info", assignment_path(@user), method: :get%>
        </li>
    <% end %>
  <% end %>
</ul>

Task associati: 

<ul>
  <% @user.tasks.each do |task| %>
    <li>
      <%= task.title %> <%= button_to "Info", task_path(@user), method: :get%>
    </li>
  <% end %>

</ul>