<br>
<div class="container">
  <div class="row">
    <div class="col-md-11 align-self-center">
      <h1> Modifica Gestione del progetto <%= @manage.project.title %> </h1> 
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 ">
       <div class="card ">
          <div class="card-body">
          <h4 class="card-title">Dati del progetto</h4>
            <%= render "shared/attributes", object: @manage.project %>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Cliente</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @manage.project.client %></p>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-6 ">
      <div class="card h-100">
        <div class="card-body ">
          <h4 class="card-title">Gestori</h4>
            <% @possibleManagers.each do |user| %>
                <hr>
                <div class="row">
                    <div class="col-sm-1">
                        <span class="mb-0 align-middle"> <%= user.id %></span>
                    </div>
                    <div class="col-sm-4">
                        <span class="mb-0 align-middle"> <%= user.name %> <%= user.surname %> </span>
                    </div>
                    <div class="col-sm-3">
                        <span class="mb-0 align-middle"> <%= user.role %> </span>
                    </div>
                    <div class="col-sm-2">
                      <%= form_with model: @manage do |form| %>
                        <%= form.hidden_field :user_id, value: user.id %>
                        <%= form.button "Seleziona", type: "submit", class: "btn btn-outline-info" %>
                      <% end %>
                    </div>
                </div>
              <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
