<h1>Lista di tutti le gestioni</h1>

<ul>
  <% @manages.each do |manage| %>
  <li>
    <ul>
        <li> Id gestione: <%= manage.id %> </li>
        <li> Gestore <%= manage.user.name%> <%= manage.user.surname%> </li>
        <li> Progetto <%= manage.project.title %> </li> 
        <%= button_to "Info", {action: "show", id: manage.id}, method: :get %>
    </ul>
  </li>
  <% end %>
</ul>

