<% if current_user %>
  <div class="container">
    <h6>Notifications</h6>
    <%= turbo_stream_from "notifications_#{user.id}" %>
    <%= turbo_frame_tag "notifications_#{user.id}" do %>

      Non lette: <br>

      <% @notifications.each do |notification| %>        
        <%if notification.unread?%>

          Il <%= notification.to_notification.object %> "<%= notification.to_notification.title %>"  
              è <%= notification.to_notification.operation %> <bR>

        <% end %>
      <% end %>
      <br><br>
      Lette: <br>
        
      <% @notifications.each do |notification| %>

        <%if !notification.unread?%>

          Il <%= notification.to_notification.object %> "<%= notification.to_notification.title %>"  
              è <%= notification.to_notification.operation %> <bR>

        <% end %>
      <% end %>

    <% end %>
  </div>
<% end %>