<div class="d-flex align-items-center justify-content-center">
<H1> Welcome to Project ManagementApp </H1>
</div>

<% if current_user %>
    <p> Hello <%= current_user.email %>| </p>
    <p> Id  [<%= current_user.id %>] </p>
    <p> Name [<%= current_user.name %>] </p>
    <p> Surname [<%= current_user.surname %>] </p>
    <p> You are a [<%= current_user.role %>] </p>
    <p>
        You have successfully authenticated with your Devise account.
        You are now ready to interact with this application
    </p>

    


    <%= link_to "Sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
<% else %>
    <p> You are not signed in. </p>
        <%= link_to "Sign Up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
<%  end %>

<% if current_user %>
<br><br>
Id: <%= current_user.id%>

Compiti associati: 

<ul>
  <% current_user.assignments.each do |assignment| %>
    <% if not assignment.status? %>
        <li>
            <%= assignment.title %> <%= button_to "Info", assignment_path(assignment.id), method: :get%>
        </li>
    <% end %>
  <% end %>
</ul>

Compiti completati: 

<ul>
  <% current_user.assignments.each do |assignment| %>
    <% if assignment.status? %>
        <li>
            <%= assignment.title %> <%= button_to "Info", assignment_path(assignment.id), method: :get%>
        </li>
    <% end %>
  <% end %>
</ul>

Task associati: 

<ul>
  <% current_user.tasks.uniq.each do |task| %>
    <li>
      <%= task.title %> <%= button_to "Info", task_path(task.id), method: :get%>
    </li>
  <% end %>

</ul>
<%  end %>