<br>
<div class="d-flex align-items-center justify-content-center">
<H1> Welcome to Project Management App </H1>
</div>

<br>
<% if current_user %>
<div class="container">
  <div class="row">
    <div class="col-md-7 ">        
          <%= render "shared/profile", user: current_user %>
      <div class="card ">
        <div class="card-body ">
        <h4 class="card-title">Compiti in corso</h4>
           <%= render "shared/assignments_ongoing", user: current_user %>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card h-100 ">
        <div class="card-body">
        <h4 class="card-title">Notifiche</h4>
        <hr>
          <div class="scrollable" style="overflow-y: auto; max-height: 350px;">
            <%= turbo_frame_tag "notifications" do %>
              <%= render "notifications/notifications", user: current_user %>
            <%  end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% else %>
    <p> Non sei loggato </p>
        <%= link_to "Login", new_user_session_path %>
<%  end %>






