<h1>User: <%= @user.id %></h1>

Dati dell'utente
<ul>
    <li>  Id:  <%= @user.id %>  </li>
    <li>  Email:  <%= @user.email %>  </li>
    <li>  Role:  <%= @user.role %>  </li>
    <li>  Name:  <%= @user.name %>  </li>
    <li>  Surname:  <%= @user.surname %>  </li>
</ul>


<% if @user.projects.empty?%>
Non gestisce nessun progetto<br>
<% else %>
<h2> Progetti gestiti </h2>
<ul>

  <% @user.projects.each do |project| %>
    <li>
      <%= project.title %> <%= button_to "Info", project_path(project.id), method: :get%>
    </li>
  <% end %>

<% end %>
</ul>

<% if @user.tasks.empty?%>
Non ha assegnato nessun task<br>
<% else %>
<h2> Task assegnati </h2>
<ul>

  <% @user.tasks.uniq.each do |task| %>
    <li>
      <%= task.title %> <%= button_to "Info", task_path(task.id), method: :get%>
    </li>
  <% end %>

<% end %>


</ul>

<%= button_to "Modifica User", edit_user_path, params:{user: @user.id} , method: :get  %>

<%= button_to "Elimina User", { action: "destroy", id: @user.id }, 
        method: :delete, form: {data: { turbo_confirm: "Are you sure?" } }%>

