<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <h1> <%= @project.title %> </h1>
    </div>
    <div class="col-md-1 align-self-center">
        <% if @done and @project.status != 'Completed' and @project.status != 'Delayed' and not @project.tasks.empty? %>
            <%= button_to "Completa", { action: "manual_complete", id: @project.id }, 
            method: :get, form: {data: { turbo_confirm: "Sei sicuro?" } }, class: "btn btn-outline-info"%>
        <% end %>
    </div>
    <div class="col-md-5 align-self-center">
      <div class="btn-toolbar">
        <%= button_to "Modifica", edit_project_path, params:{project_id: @project.id} , method: :get, class: "btn btn-outline-info"  %>
        <%= button_to "Elimina", { action: "destroy", id: @project.id }, 
                method: :delete, form: {data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-outline-info"%>
        
        <%= button_to "Assegna gestore", new_manage_path, params:{project_id: @project.id}, method: :get, class: "btn btn-outline-info"  %>
        <%= button_to "Crea Task", new_task_path, params:{project_id: @project.id} , method: :get, class: "btn btn-outline-info"  %>


      </div>
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-md-7 ">
       <div class="card ">
          <div class="card-body">
          <h4 class="card-title">Dati del progetto</h4>
            <%= render "shared/attributes", object: @project %>
            <hr>
            <div class="row">
                <div class="col-sm-3">
                <p class="mb-0">Cliente</p>
                </div>
                <div class="col-sm-9">
                <p class="text-muted mb-0"><%= @project.client %></p>
                </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body ">
          <h4 class="card-title">Gestori</h4>
          <div class="navbar-scroll">
          <%= render "shared/not_found", object: @project.users, message: "Nessun gestore ancora assegnato" %>
          <% @project.users.each do |user| %>
            <hr>
            <div class="row">
                <div class="col-sm-1">
                    <span class="mb-0 align-middle"> <%= user.id %></span>
                </div>
                <div class="col-sm-8">
                    <span class="mb-0 align-middle"> <%= user.name %> <%= user.surname %> </span>
                </div>
                <div class="col-sm-3">
                    <%= button_to "Info", user_path(user.id), method: :get, class: "btn btn-outline-primary"%>
                </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
  <div class="row">
    <div class="col-md-11 align-self-center">
      <h3> Diagramma del progetto </h3>
    </div>
  </div>
</div>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-11 ">
      <table class="table table-hover table-bordered  ">
        <% @project.tasks.each do |task| %>
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tipo</th>
            <th scope="col">Titolo</th>
            <th scope="col">Inizio</th>
            <th scope="col">Completamento</th>
            <th scope="col">Scadenza</th>
            <th scope="col">Status</th>
            <th scope="col">Info</th>
          </tr>
        </thead>
          <tr class="table-primary">

            <td  class="align-baseline"> <h5> <%= task.id %> </h5> </td>
            <td  class="align-baseline"> <h5> Task </h5> </td>
            <td  class="align-baseline"> <h5> <%= task.title %> </h5> </td>
            <td  class="align-baseline"> <h5> <%= task.start_date %> </h5> </td>
            <td  class="align-baseline"> <h5> <%= task.completion_date %> </h5> </td>
            <td  class="align-baseline"> <h5> <%= task.expiration_date %> </h5> </td>
            <td  class="align-baseline"> <h5> <%= task.status %> </h5> </td>
            <td> <%= button_to "Info", task_path(task.id), method: :get, class: "btn btn-outline-primary"%> </td>

          </tr>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tipo</th>
              <th scope="col">Titolo</th>
              <th scope="col">Lavoratore</th>
              <th scope="col">Completamento</th>
              <th scope="col">Scadenza</th>
              <th scope="col">Status</th>
              <th scope="col">Info</th>
            </tr>
          </thead>
            
            <% task.assignments.each do |assignment| %>
            <tr>
              <td  class="align-baseline"> <%= assignment.id %> </td>
              <td  class="align-baseline"> Compito </td>
              <td  class="align-baseline"> <%= assignment.title %> </td>
              <td  class="align-baseline"> <%= assignment.user.name %> <%= assignment.user.surname %></td>
              <td  class="align-baseline"> <h5> <%= assignment.completion_date %> </h5> </td>
              <td  class="align-baseline"> <h5> <%= assignment.expiration_date %> </h5> </td>
              <td  class="align-baseline"> <%= assignment.status %> </td>
              <td> <%= button_to "Info", assignment_path(assignment.id), method: :get, class: "btn btn-outline-primary"%> </td>
            </tr>
            <% end %>

          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-11 ">
      <div class="card h-100">
        <div class="card-body ">
          <h4 class="card-title"> Project Group</h4>
          <%= render "shared/not_found", object: @projectGroup, message: "Nessun utente lavora al progetto" %>
          <%= render "shared/group", 
              group: @projectGroup,
              type: "Project" %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
