<h1>Progetto: <%= @project.id %></h1>

<i> Titolo: </i> <br>
<%= @project.title %>
<br>
<i> Descrizione: </i> <br>
<%= @project.description %> 
<br>
Status: <%= @project.status %> 
<br>
Date
<ul>
    <li>  Inizio:  <%= @project.start_date %>  </li>
    <%if @project.status == 'Completed' %> <li> Fine:  <%=@project.completion_date %> </li> <% end %>
    <li>  Scadenza:  <%= @project.expiration_date %>  </li>

</ul>



<% if @project.users.empty?%>
  Questo progetto non ha ancora un gestore
<% else %>
  <ul>
  <% @project.users.each do |user| %>
    <li>
      Gestore: <%= user.name %> <%= user.surname %>
    </li>
  <% end %>
  </ul>
<% end %>

<% if @project.tasks.empty? %>
  Non vi sono ancora task associati
<% else %>
  Diagramma del progetto<br>
  Task associati:
  <ul>
  <% @project.tasks.each do |task| %>
    <li>
      <%= task.title %> <%= button_to "Info", task_path(task.id), method: :get%>
      <ul>
      <% task.assignments.each do |assignment| %>
        <li>
          <%= assignment.title%> <%= button_to "Info", assignment_path(assignment.id), method: :get%>
        </li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>
<% end %>
<br>
<%= button_to "Assegna gestore", new_manage_path, params:{project_id: @project.id}, method: :get  %>
<br>
<%= button_to "Crea Task", new_task_path, params:{project_id: @project.id} , method: :get  %>
<br>
<%= button_to "Modifica progetto", edit_project_path, params:{project_id: @project.id} , method: :get  %>
<br>
<%= button_to "Elimina progetto", { action: "destroy", id: @project.id }, 
        method: :delete, form: {data: { turbo_confirm: "Are you sure?" } }%>