<h1>New Assignment</h1>

Per il rask con identificativo <%= params[:task_id] %>

<%= form_with model: @assignment do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @assignment.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area  :description %>
    <% @assignment.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :user_id %><br>
    <%= form.number_field :user_id %> 
    <% @assignment.errors.full_messages_for(:user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>


   <%= form.hidden_field :task_id, value: params[:task_id] %>



  <div>
    <%= form.submit %>
  </div>
<% end %>