<br>
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <h1> <%= @assignment.title %>  </h1>
    </div>
    <div class="col-md-1 align-self-center">
        <% if current_user.id == @assignment.user.id %>
            <%= button_to "Completa", { action: "complete", id: @assignment.id }, 
            method: :get, form: {data: { turbo_confirm: "Sei sicuro?" } }, class: "btn btn-outline-info"%>
        <% end %>
    </div>
    <div class="col-md-5 align-self-center">
      <div class="btn-toolbar">
        <%= button_to "Modifica", edit_assignment_path, params:{assignment: @assignment.id} , method: :get, class: "btn btn-outline-info"  %>
        <%= button_to "Elimina", { action: "destroy", id: @assignment.id }, 
                method: :delete, form: {data: { turbo_confirm: "Sei sicuro?" } }, class: "btn btn-outline-info" %>
      </div>
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-md-7 ">
       <div class="card ">
          <div class="card-body">
          <h4 class="card-title">Dati del compito</h4>
            <%= render "shared/attributes", object: @assignment %>
          </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body">
        <h4 class="card-title">Lavoratore</h4>
        <hr>
            <div class="row">
            <% if @assignment.user.id == 0 %>
                <div class="col-sm-11">
                    <span class="mb-0 align-middle"> Non ancora assegnato </span>
                </div>
            <% else %>
                <div class="col-sm-1">
                    <span class="mb-0 align-middle"> <%= @assignment.user.id %> </span>
                </div>
                <div class="col-sm-8">
                    <span class="mb-0 align-middle"> <%= @assignment.user.name %> <%= @assignment.user.surname %> </span>
                </div>
                <div class="col-sm-3">
                    <%= button_to "Info", user_path( @assignment.user.id), method: :get, class: "btn btn-outline-primary"%>
                </div>
            <% end %>
            </div>
        <hr>
        <h4 class="card-title">Task</h4>
        <hr>
            <div class="row">
                <div class="col-sm-1">
                    <span class="mb-0 align-middle"> <%= @assignment.task.id %> </span>
                </div>
                <div class="col-sm-8">
                    <span class="mb-0 align-middle"> <%= @assignment.task.title %> </span>
                </div>
                <div class="col-sm-3">
                    <%= button_to "Info", task_path( @assignment.task.id), method: :get, class: "btn btn-outline-primary"%>
                </div>
            </div>
        <hr>
        <h4 class="card-title">Progetto</h4>
        <hr>
            <div class="row">
                <div class="col-sm-1">
                    <span class="mb-0 align-middle"> <%= @assignment.task.project.id %> </span>
                </div>
                <div class="col-sm-8">
                    <span class="mb-0 align-middle"> <%= @assignment.task.project.title %> </span>
                </div>
                <div class="col-sm-3">
                    <%= button_to "Info", project_path( @assignment.task.project.id), method: :get, class: "btn btn-outline-primary"%>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
