<h1>Assignment: <%= @assignment.id %></h1>

Task: <%= @assignment.task.title %>
<%= button_to "Info", task_path(@assignment.task.id), method: :get%>

<% if @assignment.user == nil%>
    Non è ancora stato assegnato
    <% proprietario = -1 %>
<% else %>
    Name: <%= @assignment.user.name %>
    <%= button_to "Info", user_path(@assignment.user.id), method: :get%>
    <% proprietario = @assignment.user.id %>
<% end %>

Dati dell'Assignment
<ul>
    <li>  Id:  <%= @assignment.id %>  </li>
    <li>  Title:  <%= @assignment.title %>  </li>
    <li>  Description:  <%= @assignment.description %>  </li>
    <li>  Status:  <%= @assignment.status %>  </li>
    <li>  Task:  <%= @assignment.task.title %>  </li>
</ul>
Date
<ul>
    <li>  Inizio:  <%= @assignment.start_date %>  </li>
    <%if @assignment.status == 'Completed' %> <li> Fine:  <%=@assignment.completion_date %> </li> <% end %>
    <li>  Scadenza:  <%= @assignment.expiration_date %>  </li>

</ul>
<% if current_user.id == proprietario %>

    Sei il propretario

    <%= button_to "Completa task", { action: "complete", id: @assignment.id }, 
        method: :get, form: {data: { turbo_confirm: "Are you sure?" } }%>
    
    <%= button_to "Uncompleta task", { action: "uncomplete", id: @assignment.id }, 
    method: :get, form: {data: { turbo_confirm: "Are you sure?" } }%>

<% else %>

    Non sei il propretario

<%  end %>

<br>
<%= button_to "Modifica Assignment", edit_assignment_path, params:{assignment: @assignment.id} , method: :get  %>
<br>
<%= button_to "Elimina Assignment", { action: "destroy", id: @assignment.id }, 
        method: :delete, form: {data: { turbo_confirm: "Are you sure?" } }%>