<h1>Modifica task <%= @task.title %> </h1>

<%= form_with model: @task do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @task.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :description %><br>
    <%= form.text_area  :description %>
    <% @task.errors.full_messages_for(:description).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %> 
    <% @task.errors.full_messages_for(:start_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :expiration_date %><br>
    <%= form.date_field :expiration_date %> 
    <% @task.errors.full_messages_for(:expiration_date).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  
  <div>
    <%= form.submit %>
  </div>
<% end %>