<h1>Task: <%= @task.title %></h1>

Progetto: <%= @task.project.title %> <%= button_to "Info", project_path(@task.project.id), method: :get%>

Dati del Task
<ul>
    <li>  Id:  <%= @task.id %>  </li>
    <li>  Title:  <%= @task.title %>  </li>
    <li>  Description:  <%= @task.description %>  </li>
    <li>  Status:  <%= @task.status %>  </li>
</ul>

Date
<ul>
    <li>  Inizio:  <%= @task.start_date %>  </li>
    <%if @task.status == 'Completed' %> <li> Fine:  <%=@task.completion_date %> </li> <% end %>
    <li>  Scadenza:  <%= @task.expiration_date %>  </li>

</ul>

<h3> Assignment da cui è composto il task </h3>
<ul>

  <% @task.assignments.each do |assignment| %>
    <li>
      <ul>
        <li>
          Titolo: <%= assignment.title %> Status: <%= assignment.status %> |  
        </li>
        <%= button_to "Info", assignment_path(assignment.id), method: :get%>
      </ul>
    </li>
  <% end %>


</ul>

Assegna un utente al task
<%= button_to "Nuovo assignment", new_assignment_path, params:{task_id: @task.id}, method: :get%>
<br>
<%= button_to "Modifica Task", edit_task_path, params:{task: @task.id} , method: :get  %>
<br>
<%= button_to "Elimina Task", { action: "destroy", id: @task.id }, 
        method: :delete, form: {data: { turbo_confirm: "Are you sure?" } }%>


