<br>
<div class="container">
  <div class="row">
    <div class="col-md-7 align-self-center">
      <h1> <%= @task.title %> </h1>
    </div>
    <div class="col-md-5 align-self-center">
      <div class="btn-toolbar">
        <%= button_to "Modifica", edit_task_path, params:{task: @task.id} , method: :get, class: "btn btn-outline-info"  %>
        <%= button_to "Elimina", { action: "destroy", id: @task.id }, 
                method: :delete, form: {data: { turbo_confirm: "Are you sure?" } }, class: "btn btn-outline-info"%>

        <%= button_to "Nuovo compito", new_assignment_path, params:{task_id: @task.id}, method: :get, class: "btn btn-outline-info"%>

      </div>
    </div>
  </div>
</div>


<br>
<div class="container">
  <div class="row">
    <div class="col-md-7 ">
       <div class="card ">
          <div class="card-body">
          <h4 class="card-title">Dati del task</h4>
            <%= render "shared/attributes", object: @task %>
          </div>
      </div>
    </div>
    <div class="col-md-4 ">
      <div class="card h-100">
        <div class="card-body ">
          <h4 class="card-title">Compiti</h4>
          <% if !@task.assignments %>
              <hr>
              <div class="row">
                  <div class="col-sm-7">
                      <p class="text-muted mb-0"> Nessun compito </p>
                  </div>
              </div>
              <% else %>
              <% @task.assignments.each do |assignment| %>
                <hr>
                <div class="row">
                    <div class="col-sm-1">
                        <span class="mb-0 align-middle"> <%= assignment.id %></span>
                    </div>
                    <div class="col-sm-8">
                        <span class="mb-0 align-middle"> <%= assignment.title %> </span>
                    </div>
                    <div class="col-sm-3">
                        <%= button_to "Info", assignment_path(assignment.id), method: :get, class: "btn btn-outline-primary"%>
                    </div>
                </div>
              <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>




