<% group.each do |user| %>
    <% if user.id != 0 %>
        <hr>
        <div class="row">
            <div class="col-sm-2">
                <span class="mb-0 align-middle"> <%= user.id %></span>
            </div>
            <div class="col-sm-4">
                <span class="mb-0 align-middle"> <%= user.name %> <%= user.surname %> </span>
            </div>
            <div class="col-sm-4">
                <span class="mb-0 align-middle"> <%= user.role %> </span>
            </div>
            <div class="col-sm-2">
                <%= button_to "Info", user_path(user.id), method: :get, class: "btn btn-outline-primary"%>
            </div>
        </div>
    <% end %>
<% end %>