<div class="card mb-4">
    <div class="card-body">
    <h4 class="card-title">Dati utente</h4>
    <hr>
    <div class="row">
        <div class="col-sm-3">
        <p class="mb-0">Identificativo</p>
        </div>
        <div class="col-sm-9">
        <p class="text-muted mb-0"><%= user.id %></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
        <p class="mb-0">Nominativo</p>
        </div>
        <div class="col-sm-9">
        <p class="text-muted mb-0"><%= user.name %> <%= user.surname %></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
        <p class="mb-0">Email</p>
        </div>
        <div class="col-sm-9">
        <p class="text-muted mb-0"><%= user.email %></p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-3">
        <p class="mb-0">Ruolo</p>
        </div>
        <div class="col-sm-9">
        <p class="text-muted mb-0"><%= user.role %></p>
        </div>
    </div>
    </div>
</div>